---
BasedOnStyle: GNU
IndentWidth: 2
UseTab: ForIndentation
TabWidth: 2
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 80
ContinuationIndentWidth: 2
PointerAlignment: Left
IndentCaseLabels: true
DerivePointerAlignment: false
SortIncludes: false
...

